body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  overflow: hidden;
}

#carouseArea {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-custom {
  background-color: #1f1f1f;
}

.navbar-custom .navbar-brand,
.navbar-text {
  color: white;
}

.nav-link {
  color: #303841;
}

.d-flex,
.list-group-item {
  background-color: #1f1f1f;
  color: #eeeeee;
}

.backgroundHome {
  background-color: white;
}

.h1 {
  background-color: #1f1f1f;
  color: white;
}

.mainBackAlert {
  background-color: #dff1f9;
  margin-left: auto;
  margin-right: auto;
}

.mainBackModalSignIn {
  width: 100%;
  max-width: 630px;
  padding: 15px;
  margin: auto;
  background-color: #1f1f1f;
}

.mainBackModalSignUp {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  background-color: #1f1f1f;
}

.h1-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #f8f8f8;
}

.button-color {
  background-color: #ff6e40;
  color: white;
}

.p-text,
.dropdown-item,
.text-center {
  color: white;
}

.p-title {
  color: #03a9f5;
}

.dropdown-item:hover {
  color: #ff6e40;
  background-color: #1f1f1f;
}

.primaryModal {
  background-color: #1f1f1f;
}

.flex-fill {
  text-align: left;
}

.mx-auto {
  background-color: #1f1f1f;
}

.col-md-5 {
  margin-left: auto;
  margin-right: auto;
}

.marginBtn {
  margin-bottom: 2%;
}

.test {
  width: 100%;
}

.marginProgressBar {
  margin-top: 5%;
  margin-bottom: 5%;
  height: "5%";
}
